:host {
  display: block;
}

mat-card {
  border-radius: 12px;
}

.mat-mdc-card-header {
  padding: 24px 24px 0 24px;
}

.mat-mdc-card-content {
  padding: 24px;
}

.mat-mdc-card-actions {
  padding: 16px 24px 24px 24px;
}
